* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*Cores do site*/
:root {
    --branco: #ffffff;
    --preto: #000;
    --laranja: #F4A226;
    --verde: #98D9A9;
    --azul: #AED6F1;
    --amarelo: #FFCA2E;
    --rosao: #FE4476;
    --roxo: #8E61A6;
}

/*Fundo do site/corpo*/
body {
    background-color: var(--branco);
}

/* HEADER -------*/
header {
    width: 100%;
}

/*topicos do começo*/
header>div.conteiner-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
}

.conteiner-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner01 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 250px;

}

.links {

    display: flex;
    align-items: center;
    gap: 30px;
}

.links a {
    font-size: 48px;
    color: var(--branco);
    text-decoration: none;
    font-family: "Super Malibu", Regular;
}

#menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2995px;
}

/* editando a animação */
.links a:hover {
    color: var(--roxo);
    border-bottom: 7px solid var(--roxo);
}

#menu_botao {
    margin-bottom: 2995px;
}

#icone-barras,
#icone-x,
#menu_botao {
    display: none;

}





/*sobre SECTION*/

.sobree h2 {
    font-family: "Super Malibu", Regular;
    font-size: 48px;
}