* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*Cores do site*/
:root {
    --branco: #ffffff;
    --preto: #000;
    --laranja: #F4A226;
    --verde: #98D9A9;
    --azul: #AED6F1;
    --amarelo: #FFCA2E;
    --rosao: #FE4476;
    --roxo: #8E61A6;
}

/*fontes*/
@font-face {
    font-family: Malibu;
    src: url(./fonts/Super\ Malibu.ttf/Regular);
    font-weight: 400;
}

@font-face {
    font-family: Varela;
    src: url(./fonts/VarelaRound-Regular.ttf/Regular);
    font-weight: 400;
}


/*Fundo do site/corpo*/
body {
    background-color: var(--branco);
    overflow-x: hidden;
}

/* HEADER -------*/
header {
    width: 100%;
}

/*topicos do começo*/
header>div.conteiner-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
}

.conteiner-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner01 img {

    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 250px;

}

.links {

    display: flex;
    align-items: center;
    gap: 30px;
}

.links a {
    font-size: 48px;
    color: var(--branco);
    text-decoration: none;
    font-family: "Super Malibu", Regular;
}

#menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2995px;
}

/* editando a animação */
.links a:hover {
    color: var(--roxo);
    border-bottom: 7px solid var(--roxo);
}

#menu_botao {
    margin-bottom: 2995px;
}

#icone-barras,
#icone-x,
#menu_botao {
    display: none;

}





/*sobre SECTION*/

.sobree h2 {
    font-family: "Super Malibu", Regular;
    font-size: 98px;
    margin-left: 150px;
    margin-bottom: 50px;
    color: #ffffff;
    background-color: var(--verde);
    border-radius: 25px;
    text-align: center;
}

.sobree h2:hover {
    color: var(--roxo);
    /* border-bottom: 5px solid var(--roxo); */
}

/*Quadrado*/
.quadrado p {
    font-size: 32px;
    font-family: "Varela Round", Regular;
    color: var(--branco);
}

#quadrado {
    background-color: var(--verde);
    padding: 25px;
    border-radius: 5%;
    margin-bottom: 50px;
}


#sobre {
    display: flex;

}

/*SECTION PRODUTOS-----------------------------*/
#produtos {
    background: linear-gradient(0deg, rgba(173, 214, 241, 1) 0%, rgba(173, 214, 241, 1) 0%, rgba(194, 225, 245, 1) 50%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 1500px;
}



#produtos h2 {

    font-family: "Super Malibu", Regular;
    font-size: 98px;
    color: var(--branco);
    margin-top: 250px;
    background-color: var(--azul);
    border-radius: 25px;
    text-align: center;
}

/* SECTION CURSOS ---------------------------- */

#rosabanner {
    margin-top: -900px;

}

.fundo-banner {
    background-image: url(./img/banner02.svg);
    height: 3500px;
    background-size: cover;

}

#text p {
    text-align: center;
    font-size: 60px;
    font-family: "VarelaRound-Regular", Regular;
    color: var(--branco);
    padding-right: 60px
}

.pecas {
    width: 100%;
}

/* footer------ */
footer {
    height: 300px;
}

.roda-pe {
    background-color: var(--laranja);

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.roda-pe h2 {
    font-size: 60px;
    font-family: "Super Malibu", Regular;
    color: var(--branco);
    text-align: center;
}

.icons {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--branco);
}



.barra input {
    border-radius: 15px;
    width: 200px;
    height: 40px;

}

.icons {
    margin-top: 80px;
    align-items: center;
}



.icons p {
    margin-top: 20px;
    font-size: 40px;
    font-family: "VarelaRound-Regular", Regular;

}

/* aqui */
.CE p {
    margin-top: 35px;
    margin-left: 50px;
    font-family: "VarelaRound-Regular", Regular;
    font-size: 40px;
    color: var(--branco);
}

.CE .icons {
    /* margin-left: 17px; */
    width: 30px;

}

div .icones-redes {
    margin-left: 50px;

}