* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*Cores do site*/
:root {
    --branco: #ffffff;
    --preto: #000;
    --laranja: #F4A226;
    --verde: #98D9A9;
    --azul: #AED6F1;
    --amarelo: #FFCA2E;
    --rosao: #FE4476;
    --roxo: #8E61A6;
}

/*fontes*/
@font-face {
    font-family: Malibu;
    src: url(./fonts/Super\ Malibu.ttf/Regular);
    font-weight: 400;
}

@font-face {
    font-family: Varela;
    src: url(./fonts/VarelaRound-Regular.ttf/Regular);
    font-weight: 400;
}


/*Fundo do site/corpo*/
body {
    background-color: var(--branco);
    overflow-x: hidden;
}

/* HEADER -------*/
header {
    width: 100%;
}

/*BARRA DE PESQUISA-----------------------------------------------*/
/* .barra {
    background-color: var(--roxo);

} */

/*topicos do começo*/
header>div.conteiner-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
}

.conteiner-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner01 img {

    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 250px;

}

.links {

    display: flex;
    align-items: center;
    gap: 30px;
}

.links a {
    font-size: 48px;
    color: var(--branco);
    text-decoration: none;
    font-family: "Super Malibu", Regular;
}

#menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2995px;
}

/* editando a animação */
.links a:hover {
    color: var(--roxo);
    border-bottom: 7px solid var(--roxo);
}

#menu_botao {
    margin-bottom: 2995px;
}

#icone-barras,
#icone-x,
#menu_botao {
    display: none;

}





/*sobre SECTION*/

.sobree h2 {
    font-family: "Super Malibu", Regular;
    font-size: 98px;
    /* margin-left: 150px; */
    margin-bottom: 50px;
    color: #ffffff;
    background-color: var(--verde);
    border-radius: 25px;
    text-align: center;
}

.sobree h2:hover {
    color: var(--verde);
    background-color: var(--branco);
    /* border-bottom: 5px solid var(--roxo); */
}

/*Quadrado*/
.quadrado p {
    font-size: 32px;
    font-family: "Varela Round", Regular;
    color: var(--branco);
}

#quadrado {
    background-color: var(--verde);
    padding: 25px;
    border-radius: 5%;
    margin-bottom: 50px;
}


#sobre {
    display: flex;

}

/*SECTION PRODUTOS-----------------------------*/
#produtos {
    background: linear-gradient(0deg, rgba(173, 214, 241, 1) 0%, rgba(173, 214, 241, 1) 0%, rgba(194, 225, 245, 1) 80%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 2000px;
}


#produtos h2 {
    display: flex;
    justify-content: center;
    font-family: "Super Malibu", Regular;
    font-size: 98px;
    color: var(--branco);
    margin-top: 250px;
    background-color: var(--azul);
    border-radius: 25px;
    text-align: center;
    width: 600px;
    /* height: 120px; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 110px;
    margin-bottom: 110px;
}

#produtos h2:hover {
    background-color: var(--branco);
    color: var(--azul);
}

/* #imagenscima {
    display: flex;
    align-items: center;
    margin-left: 500px;

}

#imagebaixo {
    display: flex;
    align-items: center;
    margin-left: 500px;
} */

#meuCarrossel {
    max-width: 800px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* SECTION CURSOS ---------------------------- */

#rosabanner {
    margin-top: -900px;

}

.fundo-banner {
    background-image: url(./img/banner002.png);
    height: 3500px;
    background-size: cover;
    padding-top: 200px;
}

.fundo-banner h2:hover {
    background-color: var(--rosao);
    color: var(--branco);
}

.fundo-banner h2 {
    display: flex;
    justify-content: center;
    font-size: 98px;
    font-family: "Super Malibu", Regular;
    background-color: var(--branco);
    color: var(--rosao);
    border-radius: 2%;
    width: 900px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
}



#text p {
    text-align: center;
    font-size: 70px;
    font-family: "VarelaRound-Regular", Regular;
    color: var(--branco);
    padding-right: 160px;
    padding-left: 160px;
    padding-top: 1770px;

}

/*Botão---------*/
#cursos button {
    background-color: var(--branco);
    color: var(--rosao);
    border-radius: 2%;
    padding: 50px 100px;
    font-family: "Super Malibu", Regular;
    font-size: 80px;
    align-items: center;
    display: flex;
    margin-left: 350px;
    border: none;
    margin-top: 40px;
}

#cursos button:hover {
    background-color: var(--laranja);
    color: var(--branco);
}

#todasi button {
    display: flex;

}

#work button {
    background-color: var(--branco);
    color: var(--rosao);
    border-radius: 2%;
    padding: 50px 100px;
    font-family: "Super Malibu", Regular;
    font-size: 80px;
    display: flex;
    align-items: center;
    margin-top: -200px;
    margin-left: 1100px;
    border: none;
}

#work button:hover {
    background-color: var(--laranja);
    color: var(--branco);
}

.pecas {
    width: 100%;
}

/* footer------ */
footer {
    height: 300px;
}

.roda-pe {
    background-color: var(--laranja);

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.roda-pe h2 {
    font-size: 60px;
    font-family: "Super Malibu", Regular;
    color: var(--branco);
    text-align: center;
}

.icons {
    /* width: 240px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: var(--branco);
}



.barra input {
    border-radius: 15px;
    width: 200px;
    height: 40px;

}



.iconsgeral {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0;
}

.icons p {
    margin-top: 20px;
    font-size: 40px;
    font-family: "VarelaRound-Regular", Regular;

}

.CE {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* aqui */
.CE p {
    margin-top: 35px;
    margin-left: 50px;
    font-family: "VarelaRound-Regular", Regular;
    font-size: 40px;
    color: var(--branco);
}

.CE img {
    /* margin-left: 17px; */
    width: 15%;

}

div .icones-redes {
    margin-left: 50px;

}

.icones-redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icones-redes img {
    width: 50%;
}



/* -------------------- Responsividade --------------- */

@media screen and (max-width: 768px) {
    #sombra {
        background-color: #9D562390;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    nav.menu {
        /* height: 100vh; */
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }
}